mqtt_client.json
[{"id":"d6bba4a5.33b458","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"55fc3b5.0a77ac4","type":"debug","z":"d6bba4a5.33b458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":140,"wires":[]},{"id":"d291dbe.8cfd928","type":"mqtt in","z":"d6bba4a5.33b458","name":"","topic":"sensorcardiac","qos":"0","datatype":"auto","broker":"3b63c35a.7d88bc","x":390,"y":140,"wires":[["55fc3b5.0a77ac4","9752dac3.de9a08"]]},{"id":"377cdcfe.8cb694","type":"ui_gauge","z":"d6bba4a5.33b458","name":"Batimento Cardíaco","group":"6ec35432.6b17cc","order":1,"width":"6","height":"6","gtype":"compass","title":"Batimento Cardíaco","label":"BPM","format":"{{value | number:0}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"34","x":840,"y":200,"wires":[]},{"id":"9752dac3.de9a08","type":"change","z":"d6bba4a5.33b458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["377cdcfe.8cb694","55fc3b5.0a77ac4"]]},{"id":"3b63c35a.7d88bc","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"temp/random","birthQos":"0","birthRetain":"false","birthPayload":"connected sucessfully","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ec35432.6b17cc","type":"ui_group","z":"","name":"MQTT Client","tab":"ba0cd02b.371f5","disp":true,"width":"6","collapse":false},{"id":"ba0cd02b.371f5","type":"ui_tab","z":"","name":"MQTT Client","icon":"dashboard","order":2,"disabled":false,"hidden":false}]